.vs/CriptoValuta/v16/.suo
.vs/slnx.sqlite
obj/Debug/CriptoValuta.csprojAssemblyReference.cache
obj/Debug/CriptoValuta_MarkupCompile.i.cache
obj/Debug/CriptoValuta_MarkupCompile.i.lref
*.suo
*.user
*.sln.docstates